{% extends 'index.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{username}}'s Wishlist</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wishlist:logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<br>
<h5>Last Login: {{ last_login }}</h5>

<script type="text/JavaScript">
  $(document).ready(() => {
    const url = "http://127.0.0.1:8000/wishlist/json/"
    $.get(url, (data) => {
      data.forEach((item) => {
        var item_name = item.fields.item_name;
        var item_price = item.fields.item_price;
        var item_description = item.fields.item_description;
        var html = "<tr><td>" + item_name + "</td><td>" + item_price + "</td><td>" + item_description + "</td>";
        $("tbody").append(html);
      })
    })
  })
</script>
{% endblock content %}